<!DOCTYPE html>
<html lang="es">
  <body>
    <header>
      <h1>404</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Indice</a></li>
      </ul>
    </nav>
    <main>
      <h2>Ooops...</h2>
      <p>
        Parece que ha habido un problema.
      </p>
    </main>
  </body>
</html>
