<!DOCTYPE html>
<html lang="es">
  <%- include("./partials/head.ejs") %>
  <body>
    <main>
      <%- include("./partials/nav.ejs") %>
      <h2>Bla bla</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum odio
        sequi ullam, praesentium labore dicta autem vitae iure doloribus sed
        culpa impedit voluptate, rerum explicabo debitis accusantium deleniti,
        nulla molestias.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum odio
        sequi ullam, praesentium labore dicta autem vitae iure doloribus sed
        culpa impedit voluptate, rerum explicabo debitis accusantium deleniti,
        nulla molestias.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum odio
        sequi ullam, praesentium labore dicta autem vitae iure doloribus sed
        culpa impedit voluptate, rerum explicabo debitis accusantium deleniti,
        nulla molestias.
      </p>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
